:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #E1D3FFD9;
  --secondary-color: white;
}

body {
  background: url("/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}

.debug {
  border: 1px solid aliceblue;
}