.account-page-block {
    position: relative;
    width: 1150px;
    height: 510px;
    margin: auto;
    margin-top: 60px;
    background: #daebf7;
    padding: 10px 10px 35px 5px;
}
.acc-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    justify-content: center;
    grid-template-columns: 405px 330px 330px;
    grid-template-rows: 1fr;
    gap: 20px;
}
.block {
    position: relative;
    width: 100%;
    height: 100%;
}
/* 
// 90 225 90, 330, 330 */
.profile-avatar {
    padding: 0 90px;
}
.profile-avatar > button{
    padding: 10px 16px;
    border-radius: 50px;
}
button.prof-btn {
    padding: 6px 10px;
    border-radius: 50px;
}

.profile-info, .profile-subinfo {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 .profile-avatar {
    width: 225px;
    height: 225px;
    margin: 50px 0;
    border-radius: 50%;
 }