.header {
    max-width: 100vw;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26.5px;
    padding: 0 130px 0 90px;
    box-sizing: border-box;
    background: var(--primary-color);
    backdrop-filter: blur(5px);
}
.header .header-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 10px 0;
}

.header .header-right-part-wrapper {
    position: relative;
    height: 60px;
    display: flex;
    gap: 35px;
}
.header-links {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 36px;
    margin-left: 10px;
}
.header .header-link {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}
.header .header-link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.header .header-link:active {
    text-decoration: underline;
}

.header .header-auth {
    position: relative;
}

.header .header-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 5px 10px 5px 5px;
    cursor: pointer;
    user-select: none;
}
.header-profile svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.header .header-profile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .header-auth-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 175px;
}