.form-group {
    width: 100%;
    margin-top: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.a {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: var(--primary-color);
    cursor: pointer;
    text-underline-offset: 5px;
}
.a:hover {
    filter: brightness(0.9);
}
.a:visited {
    text-decoration-style: solid;
}

.bt {
    text-align: center;
}