.rounded-field {
    width: 400px;
    height: 500px;
    background-color: #ffffff; /* Цвет фона, можно изменить по желанию */
    border-radius: 20px; /* Радиус закругления углов */
    border: 1px solid #ccc; /* Граница, можно изменить или убрать */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень, можно изменить или убрать */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Размещаем элементы внизу */
    align-items: center;
    padding: 20px; /* Отступы внутри поля */
    margin: 20px auto; /* Центрирование поля на странице */
}


.purchase-button {
    padding: 10px 10px; /* Размер кнопки */
    background-color: #df51ff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px; /* Радиус закругления углов кнопки */
    cursor: pointer;
    font-size: 12px; /* Размер текста кнопки */
    margin-bottom: 10px; /* Отступ снизу */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Плавный переход для эффекта приближения и изменения цвета */
    transform-origin: center; /* Центрирование точки масштабирования */
    display: inline-block; /* Для предотвращения изменения размера кнопки */
}


.purchase-button:hover {
    background-color: #e46eff; /* Цвет фона кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.purchase-button:active {
    transform: scale(0.95) translateY(2px); /* Уменьшение кнопки и смещение вниз при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшение тени при нажатии */
}

.product-image {
    width: 50%; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Радиус закругления углов изображения */
    margin-bottom: 80px; /* Отступ снизу */
}

.description {
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер текста */
    color: #333; /* Цвет текста */
    margin: 1em;
}
